.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 8%;
  background:#111;
  position:sticky;
  top:0;
  z-index:1000;
}

.logo-img{
  width:120px;
}

.nav-links{
  display:flex;
  gap:30px;
}

.nav-links a{
  color:white;
  text-decoration:none;
}